.glOqWXqe6aqZ08rGMsSm{font-weight:700}

.MrQgzcF3WJl8YgOeVFdC{height:100%;display:flex;flex-direction:column;justify-content:center;align-items:center;gap:16px}

*{margin:0;padding:0;box-sizing:border-box}html,body,#root{height:100%;background-color:var(--mui-palette-background-default);color:var(--mui-palette-text-primary)}

